# Ignore virtual environments
myvenv/
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore IDE settings (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db